<!-- Top Navigation -->
<!--suppress BuyFluidPluginNoteInspection -->
<div class="app-container">
  <mat-toolbar color="primary" class="top-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/main">My Portal</button>

    <span class="spacer"></span>
    <button mat-button>Profile</button>
    <button mat-button routerLink="/login">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <!-- Side Navigation -->
    <mat-sidenav mode="side" #sidenav>
      <mat-nav-list *ngFor="let item of sideNavComponents">
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          {{ item.label }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
      <!-- Top Navigation -->
      <!-- Routed Page Content -->
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
